<!doctype html>
<html>

<head>
    <title>APIs are cool</title>
</head>

<body>
    <div id="root" topVid="{{ topVid }}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script type="text/babel">

    class RootComponent extends React.Component {

        constructor(props) {
            super()
            var socket = io({transports: ['websocket'], upgrade: false});
            socket.on('connect', function() {
                console.log('connected');
            });
            var details = JSON.parse(props.topVid)
            socket.emit('join', {
                id: details.id.videoId
            })
            socket.on('comments', (data) => {
                console.log("COMNMENTS");
                var comments = data.items;
                var details = this.state;
                details.comments = comments.concat(details.comments)
                this.setState({details}, () => comments.length ? this.scrollToBottom() : null);
            })
            details.socket = socket;
            details.comments = [];
            details.searchUser = ""
            details.searchResult = 0;
            this.state = details;

            this.handleChange = this.handleChange.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this);
        }

        scrollToBottom = () => {
            if(window.innerWidth > 760)
                this.messagesEnd.scrollIntoView(true, { behavior: "smooth" });
        }

        handleChange(event) {
            this.setState({searchUser: event.target.value, searchResult: 0});
        }

        handleSubmit(event) {
            event.preventDefault();
            fetch(`http://localhost:5000/comments/${this.state.searchUser}`)
            .then(response => response.json())
            .then(({comments}) => {
                this.setState({searchResult: comments})
            })
            .catch(response => {
                console.log(response);
            })
        }


        render() {
            var id = this.state.id ? this.state.id.videoId : '';
            return (
                <div>
                <div className="container">
                    <div className="iframeWrapper">
                        <iframe src={`https://www.youtube.com/embed/${id}?autoplay=1`} frameBorder="0" allowFullScreen></iframe>
                    </div>
                    <div className="commentsWrapper">
                    <div className="comments">
                        <div className="scrollto" ref={(el) => { this.messagesEnd = el; }}></div>
                        {this.state.details && this.state.details.comments.map(comment => <div>{comment.authorDetails.displayName}: {comment.snippet.displayMessage}</div>)}
                    </div>
                    </div>

                </div>

                <div className="search">
                    <form onSubmit={this.handleSubmit}>
                        <label>
                            Search messages by user:
                            <input type="text" value={this.state.searchUser} onChange={this.handleChange} />
                        </label>
                        <input type="submit" value="Submit" />
                        <p># Of messages by {this.state.searchUser}: {this.state.searchResult}</p>
                    </form>
                </div>

                </div>
            );
        }
    }
    ReactDOM.render(
        <RootComponent topVid={ document.getElementById('root').getAttribute('topVid') } />,
        document.getElementById('root')
    );
</script>
</body>

</html>