<!doctype html>
<html>

<head>
    <title>APIs are cool</title>
</head>

<body>
    <div id="root" topVid="{{ topVid }}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script type="text/babel">
    class RootComponent extends React.Component {

        constructor() {
            super()
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                console.log('connected');
            });
        }

        render() {
            console.log(JSON.parse(this.props.topVid));
            var id = this.props.topVid.id ? this.props.topVid.id.videoId : '';

            return (<div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8XiqrERZo_8?autoplay=1" frameBorder="0" allowFullScreen></iframe>
            </div>);
        }
    }
    ReactDOM.render(
        <RootComponent topVid={ document.getElementById('root').getAttribute('topVid') } />,
        document.getElementById('root')
    );
</script>
</body>

</html>